@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        Since it is a sample app - <strong>no login is required for using CRUD</strong> operations.
        The login is here in order to make the things easier for a future extension of the program.
        You can see the menus up - in the navigation bar.
    </p>
</div>
