@model TeamViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<form asp-controller="Team" asp-action="EditTeam" method="post" class="form-horizontal" role="form">

    <div class="form-group">
        <input asp-for="TeamId" value="@Model.TeamId" type="hidden" class="form-control">
    </div>

    <div class="form-group">
        <label asp-for="TeamName"><strong>Name</strong></label>
        <input asp-for="TeamName" value="@Model.TeamName" type="text" class="form-control">
    </div><div class="form-group">
        <label asp-for="TeamScores"><strong>Name</strong></label>
        <input asp-for="TeamScores" value="@Model.TeamScores" type="text" class="form-control">
    </div>
    <p></p>

    <div class="form-group">
        <div class="btn-group col-md-offset-2 col-md-6">
            <input class="btn btn-primary" type="submit" name="" value="Update" />
        </div>
    </div>
</form>